@charset "utf-8";
/* CSS Document */
body{
	background-color: #560b98;
	margin-left: 150px;
	margin-right: 150px;
}

h1{
	color:#ffbef2;
	font-family: 'Galada', cursive;
	text-align: center;
	
}

h2{
	margin-top: 10px;
	margin-bottom: 4px;
	font-family: 'Galada', cursive;
	color:#ffbef2;
	border-style: dotted;
	padding-left: 10px;
}

ul{
	color:#ffbef2;
	font-family: 'Crimson Text', serif;
}

.container{
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	column-gap: 5px;
}

h3,h4,h5{
	font-family: 'Galada', cursive;
	margin-top: 5px;
	margin-bottom: 5px;
	color:#ffbef2;
	font-family: 'Galada', cursive;
}

.container2{
	display:table-row-group;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	column-gap: 3px;
}

p{
	margin-top: 5px;
	margin-bottom: 5px;
	color:#ffbef2;
	font-family: 'Crimson Text', serif;
	
}
